In [ ]:
'''Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True'''

In [3]:
def is_symmetrical(n):
    n = str(n)
    if n == n[::-1]:
        return True
    else:
        return False
is_symmetrical(125647)
is_symmetrical(1112111)

True

In [4]:
'''Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20'''

'Question 2\nGiven a string of numbers separated by a comma and space, return the product of the\nnumbers.\nExamples\nmultiply_nums(&quot;2, 3&quot;) ➞ 6\nmultiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24\nmultiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0\nmultiply_nums(&quot;10, -2&quot;) ➞ -20'

In [8]:
def mul_nums(s):
    prd = 1
    s = s.split(",")
    for i in s:
        prd *= int(i)
    return prd
mul_nums("1,2,3")

6

In [ ]:
'''Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.'''

In [11]:
def square_digits(n):
    n = "".join(str(int(x)**2) for x in str(n)) 
    return int(n)
square_digits(9119)

811181

In [ ]:
'''Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]'''

In [13]:
def specify(lis):
    lis = list(set(lis))
    lis.sort()
    return lis
specify([1, 3, 3, 5, 5])

[1, 3, 5]

In [ ]:
'''Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.'''

In [16]:
def mean_function(n):
    n  = str(n)
    mean = sum([int(x)  for x in n])/(len(n))
    return int(mean)
mean_function(42)

3

In [ ]:
''''''