**1. Write a Python Program to Find the Factorial of a Number?**

In [6]:
def factorial(num):
    factorial=1
    for i in range(1,num+1):
        factorial*=i
    return f"factorial of {num} is {factorial}"
factorial(5)

'factorial of 5 is 120'

**2. Write a Python Program to Display the multiplication Table?**

In [9]:
def multiplication_table(multiplier , length):
    for i in range(1 , length+1):
        print(f"{multiplier} x {i} = {multiplier * i}") 
multiplication_table(3 , 20)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42
3 x 15 = 45
3 x 16 = 48
3 x 17 = 51
3 x 18 = 54
3 x 19 = 57
3 x 20 = 60

**3. Write a Python Program to Print the Fibonacci sequence?**

In [16]:
def Fibonacci(n):
    if n<0:
        print("please enter positive number")
    elif n==0:
        return n
    elif n == 1 or n == 2:
        return 1
    n1 =0
    n2 = 1
    count =0
    while count < n:
        print(n1)
        nth = n1 + n2  
        n1 = n2  
        n2 = nth  
        count += 1
Fibonacci(100)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026

**4. Write a Python Program to Check Armstrong Number?**

In [13]:
def Armstrong_Number(n):
    st_n = str(n)
    sum_n = 0
    for i in st_n:
        sum_n+= int(i)**3
    if sum_n == n:
        print(f"number {n} is Armstrong_Number")
    else:
        print(f"number {n} is not Armstrong_Number")

Armstrong_Number(153)

number 153 is Armstrong_Number

**5. Write a Python Program to Find Armstrong Number in an Interval?**

In [27]:
def Armstrong_Number(range_start,range_end):
    for r in range(range_start,range_end+1):
        st_n = str(r)
        sum_n = 0
        for i in st_n:
            sum_n+= int(i)**3
        if sum_n == r:
            print(f"number {r} is Armstrong_Number")

Armstrong_Number(0,10000000)

number 0 is Armstrong_Number
number 1 is Armstrong_Number
number 153 is Armstrong_Number
number 370 is Armstrong_Number
number 371 is Armstrong_Number
number 407 is Armstrong_Number

**6. Write a Python Program to Find the Sum of Natural Numbers?**

In [33]:
def Sum_of_natural_numbers(range_start,range_end):
    Sum_of_naturalnumbers=0
    if range_start<=0 & range_end<=0 :
        print("please enter natural numbers")
    else:
        for r in range(range_start,range_end+1):
            Sum_of_naturalnumbers+=r
        return f"Sum of natural numbers in range from {range_start} to {range_end} is {Sum_of_naturalnumbers}"
Sum_of_natural_numbers(1,10)

'Sum of natural numbers in range from 1 to 10 is 55'